{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Solicitud</title>
    <link rel="icon" href="{% static 'img/Logo_OFFALL.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
    <link rel="stylesheet" href="{% static 'css/styleCS.css' %}">


<body>
    
    <header class="site-header sticky-top">
        <nav id="pri" class="container navbar navbar-expand-lg navbar-light ">
            <a href="indexProfessional" class="logo"><img src="{% static 'img/Logo_OFFALL (2).png' %}" height="40" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                    {% if request.session.email %}
                    <li class="nav-item">
                        <form action="movEditProfessional" method="POST">  {% csrf_token %}
                            <input type="text" class="form-control" value="{{request.session.email}}" name="email" hidden>  
                            <button type="submit" class="nav-link menu_link btn" style="color: rgb(0, 0, 0)">Perfil</a>
                        </form>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_link" style="color: rgb(0, 0, 0);" href="listRequests">Solicitudes</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" style="color: rgb(0, 0, 0);"> {{request.session.email}} </a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link menu_link" style="color: rgb(0, 0, 0);" href="logout">Cerrar Sesión</a>
                    </li>
                    {% endif %}                    
                </ul>
            </div>
        </nav>
    </header> 
    
   <main>
    <div id="listsol" class="card shadow p-3 mb-5 bg-body">
        <div class="text-center pt-5">
            <h2>SOLICITUDES DE CLIENTES</h2>
            
        </div>
        <div id="tabla_sol" style="margin-top: 30px;">
            <table class="table table-light table-hover shadow-lg p-3 mb-5 bg-white">
                <thead class="table-dark">
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Aceptar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in objectList %}
                    <tr>
                    <th>{{instance.SolicitudClient}}</th>
                    <td>{{instance.SolicitudDescription}}</td>
                    <td>{{instance.SolicitudDate}}</td>
                    <td>{{instance.SolicitudProfession}}</td>
                    <td><a href="{{instance.get_mos_url}}" class="link-secondary">Ver mas</a></td>
                    <td>          
                        <form action="aceptarSolicitud" method="POST"> 
                            {% csrf_token %}
                            <input type="number" class="form-control" value="{{instance.id}}" name="id" hidden>  
                            <button type="submit" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm_accept_solc">Aceptar</button>
                        </form>                                         
                    </td>
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
     </div>
    </main>
    
    <footer class="container-fluid " class="table-responsive" style="background: black;">  
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
                <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
                </div>
                <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Resource name</a></li>
                    <li><a class="link-secondary" href="#">Resource</a></li>
                    <li><a class="link-secondary" href="#">Another resource</a></li>
                    <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Business</a></li>
                    <li><a class="link-secondary" href="#">Education</a></li>
                    <li><a class="link-secondary" href="#">Government</a></li>
                    <li><a class="link-secondary" href="#">Gaming</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
                </div>
            </div>
        </div>              
    </footer>
        
        
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>      
</body>
</html>
