<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcitud</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">    
    <link rel="stylesheet" href="css/styleCS.css">

<body>
     
    <header class="site-header sticky-top">
        <nav id="pri" class="container navbar navbar-expand-lg navbar-light ">
            <a href="index.html" class="logo"><img src="img/Logo_OFFALL (2).png" height="40" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">                    
                    <li class="nav-item">
                        <a class="nav-link menu_link" style="color: rgb(0, 0, 0);" href="categoria.html">Categorias</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link menu_link" style="color: rgb(0, 0, 0);" href="gestionarsolicitudes.html">Tus Solicitudes</a>
                    </li>
                    <li class="nav-item menu_link">
                        <a class="nav-link" style="color: rgb(0, 0, 0);border-bottom: 2px solid rgb(0, 0, 0);bottom: 15px;" href="solicitud.html">Solicitud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_link" style="color: rgb(0, 0, 0);" href="registroprofesional.html">Profesional</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_link" style="color: rgb(0, 0, 0);" href="registrocliente.html">Registrate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_link" data-bs-toggle="modal" data-bs-target="#modalForm" style="color: rgb(0, 0, 0);">Iniciar sesión</a>
                    </li>                    
                </ul>
            </div>
        </nav>
    </header> 
    
    <main>       
        
        <div class="container w-75 mt-5" >
            <div class="row align-items-stretch">
                <div class="col d-none d-lg-block col-md-0 col-lg-0 col-xl-1">
                </div>
                <div class="col bg-white p-5 col-md-12 col-lg-12 col-xl-10 shadow">
                    
                    <h3 class="mb-5">¿Qué servicio estás buscando?</h3>
                    <!-- LOGIN -->
                    <form action="#">
                        <div class="mb-4">                            
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Descripción"></textarea>
                        </div> 
                        <div class="col ms-auto mb-4 col-md-6 col-lg-6 col-xl-5">
                            <label for="formFile" class="form-label">Añadir archivos</label>
                            <input class="form-control" type="file" id="formFile" multiple>
                        </div> 
                        <div class="col mb-4 mb-4 col-md-6 col-lg-6 col-xl-5">
                            <label for="prof" class="form-label">Categoria</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>selecciona una profesión</option>
                                <option value="1">Carpintero</option>
                                <option value="2">Albañil</option>
                                <option value="3">Soldador</option>
                            </select>                        
                        </div>                                                                                         
                        <div class="row">
                            <div class="col">
                                <label for="fechanac" class="form-label">Fecha de entrega</label>
                                <input type="date" class="form-control" id="fechanac" name="fechan" value="2021-07-22" min="1900-01-01" max="2050-12-31">  
                            </div>                          
                            <div class="col">
                                <label for="direccion" class="form-label">Dirección</label>
                                <input type="text" class="form-control" name="direccion" id="direccion" required autofocus><br>
                            </div>                          
                        </div>
                        <div class="mb-4">
                            <label for="presupuesto" class="form-label">¿Cuál es su presupuesto?</label>
                            <input type="number" class="form-control" name="presupuesto" placeholder="Añadir cantidad en Soles">
                        </div>                                                                         
                        <div class="d-grid ms-auto mb-4 col-md-6 col-lg-6 col-xl-5">
                            <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
                        </div>
                    </form>

                </div> 
                <div class="col d-none d-lg-block col-md-0 col-lg-0 col-xl-1">
                </div>               
                
            </div>
        </div>               

        <!--Login modal-->
        <section class="modal_login">            
            <!-- Modal -->
            <div class="modal fade  shadow" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">|
                <div class="modal-dialog " style="max-width: 320px;">
                    <div class="modal-content">                        
                        <div class="modal-body">
                            <div class="align-items-stretch" >                                
                                <div class=" bg-white p-2">                                    
                                    <section class="form-header mb-5">
                                        <h4 class="text-center">Inicia sesion</h4>                
                                    </section>                                    
                                    <!-- LOGIN -->               
                                    <section class="form-body">
                                        <form action="#">                                                               
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Correo electronico</label>
                                                <input type="email" class="form-control" name="email" id="email" required autofocus>
                                            </div>
                                            <div class="mb-4">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" class="form-control" name="password">
                                            </div>                                                                                                           
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary">Registrarse</button>
                                            </div>
                                        </form>
                                    </section>                                     
                
                                </div>                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
        </section>
    </main>        
        
    <footer class="container-fluid mt-5" style="background: black;">  
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
                <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
                </div>
                <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Resource name</a></li>
                    <li><a class="link-secondary" href="#">Resource</a></li>
                    <li><a class="link-secondary" href="#">Another resource</a></li>
                    <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Business</a></li>
                    <li><a class="link-secondary" href="#">Education</a></li>
                    <li><a class="link-secondary" href="#">Government</a></li>
                    <li><a class="link-secondary" href="#">Gaming</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
                </div>
            </div>
        </div>              
    </footer>
    
        
    <script src="js/bootstrap.bundle.min.js"></script>
    
          
</body>
</html>